# Google OAuth (depuis Google Cloud Console > Identifiants)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# JWT
JWT_PASSPHRASE=changeme_generate_a_strong_passphrase


JOBDESK_DOMAIN=
JOBDESK_DB_USER=jobdesk
JOBDESK_DB_PASSWORD=
JOBDESK_DB_NAME=jobdesk
JOBDESK_JWT_PASSPHRASE=
JOBDESK_APP_SECRET=
JOBDESK_GOOGLE_CLIENT_ID=
JOBDESK_GOOGLE_CLIENT_SECRET=
